.terminal {
  overflow-y: scroll;
  height: 40%;
  width: 40%;
  background-color: black;
  color: #bcefe6;
  font-family: monospace;
  text-shadow: 0 0 3px #bcefe6;
}
dl {
  float: left;
  white-space: pre;
  margin: 0.5em;
}
dt {
  float: left;
  clear: left;
}
dt:after {
  content: "> ";
}
dd {
  float: left;
  margin: 0;
}
dd.stdout, dd.stderr {
  clear: left;
}
dd>span {
  box-shadow: 0 0 3px #bcefe6;
}
.highlight {
  background-color: #bcefe6;
  color: black;
}
.nofocus {
  background-color: transparent !important;
  color: #bcefe6 !important;
}